@font-face {
    font-family: 'TheMinersFont';
    src: url('./assets/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheMinersFont';
    src: url('./assets/fonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheMinersFont';
    src: url('./assets/fonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheMinersFont';
    src: url('./assets/fonts/Dimensions500.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'TheMinersFont', system-ui, Arial, sans-serif;
}

body {
    margin: 0;
    font-family: 'TheMinersFont', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}