.container {
    max-width: 1000px;
}

.addCard {
    background-color: var(--color-white);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.addCard h1 {
    margin-bottom: 20px;
}

.addCard h3 {
    margin-top: 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--miners-gray-dark);
    margin-bottom: 20px;
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputGroup {
    display: flex;
    gap: 15px;
}

.inputMain {
    flex: 3;
    padding: 12px;
    border: 1px solid var(--miners-gray);
    border-radius: 8px;
    font-size: 15px;
}

.inputNumber,
.inputSelect {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--miners-gray);
    border-radius: 8px;
    background-color: var(--color-white);
}

.textarea {
    width: 100%;
    height: 80px;
    padding: 12px;
    border: 1px solid var(--miners-gray);
    border-radius: 8px;
    font-family: inherit;
    resize: none;
}

.formActions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 10px;
}

.submitBtn {
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 200;
    cursor: pointer;
}

.cancelBtn {
    background-color: var(--miners-gray);
    color: var(--miners-gray-dark);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* List Styles */
.branchCard {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
    border-left: 4px solid var(--miners-orange);
    display: flex;
    justify-content: space-between;
    transition: transform 0.2s ease;
}

.branchCard:hover {
    transform: translateY(-4px);
}

.locationPath {
    font-size: 10px;
    font-weight: 400;
    color: #94a3b8;
    text-transform: uppercase;
}

.arrow {
    margin: 0 5px;
    color: var(--miners-orange);
    font-size: 1rem;
}

.branchTitle {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 4px 0;
}

.addressText {
    font-size: 13px;
    color: #64748b;
    display: flex;
    align-items: center;
    gap: 5px;
}

.actions {
    display: flex;
    gap: 10px;
}

.deleteBtn,
.editBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    height: fit-content;
    border-radius: 50%;
    transition: background 0.2s;
    display: flex;
}

.editBtn {
    color: var(--miners-blue-cyan);
}

.deleteBtn {
    color: var(--miners-red);
}

.deleteBtn:hover {
    background-color: var(--miners-pink-light);
}

.editBtn:hover {
    background-color: var(--miners-blue-light);
}