/* Register.module.css */
body{
    background-color: #1a1a1a;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #313131;
    border-radius: 4px;

}

.title {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 400;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form_data {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 0;
    font-size: 10pt;
    outline: none;
    margin-bottom: 10px;
}

/* Контейнер для трех полей даты */
.dateRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.inputDate {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 0;
    text-align: center;
    outline: none;
}

.inputDate:focus {
    border-color: #000000;
}

.inputSmall {
    width: 90px;
}

.inputMedium {
    width: 130px;
}

.input:focus {
    border-color: #000000;
}

.submitButton {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.submitButton:hover {
    background-color: #333333;
}

.successMessage {
    color: green;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}